
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
*::-webkit-scrollbar {
  display: none;
}

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}

.flip-card {
  perspective: 1000px;
}
.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}
.flip-card-back {
  transform: rotateY(180deg);
}

.icon-1 {
  color: #ff4d4d !important;
}
.border-custom {
  border-radius: 40% 60% 55% 45% / 26% 34% 66% 74%;
  /* border-radius: 57% 43% 54% 46% / 60% 77% 23% 40%; */
  background: #3023ae;
  background-image: linear-gradient(45deg, #3023ae 0%, #ff0099 100%);
}

@layer base {
  .layout{
    @apply w-full max-w-screen-xl px-2 xxs:px-4 xs:px-8 mx-auto
  }
  .activeBtn {
    @apply bg-violet-500;
  }
  .gradient {
    @apply bg-gradient-to-bl from-rose-500 via-blue-300 to-violet-500;
  }
  .reverse_box {
    @apply right-[-8px]  border-l-violet-700 border-l-8  border-r-0;
  }
  .left_arrow {
    @apply left-[-8px]  border-r-violet-700  border-r-8   border-l-0;
  }
  .filledBtn {
    @apply cursor-pointer drop-shadow-lg shadow-violet-300 bg-violet-700 rounded-full sm:text-lg text-white text-center w-32 sm:w-36 py-3;
  }
  .outlinedBtn {
    @apply cursor-pointer drop-shadow-lg shadow-violet-300 border-2 border-violet-700 rounded-full sm:text-lg text-white text-center w-32 sm:w-36 py-3;
  }
  .header {
    @apply text-rose-500 text-center font-semibold  text-5xl  md:text-6xl capitalize my-3 md:mt-6 md:mb-10;
  }
  .inputStyle {
    @apply w-full sm:w-full rounded-md px-4 py-2.5 mb-5  bg-transparent border border-violet-400 outline-none;
  }
  .projectBtn{
    @apply   border  rounded-md   font-medium   
  }
  .drawer{
    @apply grid-cols-1 !fixed top-0 left-0 bg-black/80
  }
}
