@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Libre+Baskerville&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: dark;
}

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}

@layer base {
  .activeBtn {
    @apply bg-violet-500;
  }
  .gradient {
    @apply bg-gradient-to-bl from-rose-500 via-blue-300 to-violet-500;
  }
  .reverse_box {
    @apply right-[-8px]  border-l-violet-700 border-l-8  border-r-0;
  }
  .filledBtn{
    @apply cursor-pointer drop-shadow-lg shadow-violet-300 bg-violet-700 rounded-full sm:text-lg text-white text-center w-32 sm:w-36 py-3
  }
  .outlinedBtn{
    @apply cursor-pointer drop-shadow-lg shadow-violet-300 border-2 border-violet-700 rounded-full sm:text-lg text-white text-center w-32 sm:w-36 py-3
  }
}
